{
  "presets": [
    ["@babel/preset-env", { "loose": false }], 
    ["@nrwl/react/babel", {"runtime": "automatic"}]
  ],
  "plugins": [
    ["@babel/plugin-transform-class-properties", { "loose": false }],
    ["@babel/plugin-transform-private-methods", { "loose": false }],
    ["@babel/plugin-transform-private-property-in-object", { "loose": false }],
    "@babel/plugin-transform-runtime", 
    "@babel/plugin-transform-nullish-coalescing-operator"],
  "ignore": [
    "**/node_modules/**"
  ]
}
